# ansible/roles/wordpress/tasks/main.yml
---
- name: Install PHP and extensions
  apt:
    name:
      - php
      - php-mysql
      - php-curl
      - php-gd
      - php-mbstring
      - php-xml
      - php-xmlrpc
      - php-soap
      - php-intl
      - php-zip
      - libapache2-mod-php
    state: present

- name: Download WordPress
  get_url:
    url: https://wordpress.org/latest.tar.gz
    dest: /tmp/wordpress.tar.gz

- name: Extract WordPress
  unarchive:
    src: /tmp/wordpress.tar.gz
    dest: /var/www/
    remote_src: yes
    owner: www-data
    group: www-data
    creates: /var/www/wordpress

- name: Create wp-config.php
  template:
    src: wp-config.php.j2
    dest: /var/www/wordpress/wp-config.php
    owner: www-data
    group: www-data
    mode: "0644"

- name: Create Apache virtual host
  template:
    src: wordpress.conf.j2
    dest: /etc/apache2/sites-available/wordpress.conf

- name: Enable WordPress site
  command: a2ensite wordpress
  args:
    creates: /etc/apache2/sites-enabled/wordpress.conf
  notify: restart apache

- name: Disable default site
  command: a2dissite 000-default
  args:
    removes: /etc/apache2/sites-enabled/000-default.conf
  notify: restart apache

- name: Enable Apache modules
  apache2_module:
    name: "{{ item }}"
    state: present
  loop:
    - rewrite
    - ssl
    - headers
  notify: restart apache

- name: Set permissions on WordPress directory
  file:
    path: /var/www/wordpress
    owner: www-data
    group: www-data
    recurse: yes

- name: Create health check file
  copy:
    content: "healthy\n"
    dest: /var/www/wordpress/health
    owner: www-data
    group: www-data
    mode: "0644"
